<template>
  <div class="home">
    <board />
    <input type="button" value="button" @click="clickButton()" />
  </div>
</template>

<script>
// @ is an alias to /src
export default {
  name: "Home",
  data() {
    return {
      timeArray: [],
      currentTime: "00:00:00"
    };
  },
  beforeMount() {
    return 0;
  },
  created() {
    /*
    this.$socket.on("getUniqueID", data => {
      console.log(data);
    });*/
  },
  methods: {
    clickButton: function() {
      //this.$socket.emit("getUniqueID");
    }
  }
};
</script>
