<template>
  <div class="tictactoe-board">
    <div v-for="(n, i) in 15" :key="i">
      <div v-for="(n, j) in 15" :key="j">
        <cell :value="board[i][j]"></cell>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      board: []
    };
  },
  beforeMount() {
    for (let i = 0; i < 15; i++) {
      this.board[i] = [];
    }
  }
};
</script>
<style>
.tictactoe-board {
  align-self: auto;
  display: flex;
  flex-wrap: wrap;
  width: 1100px;
  height: 980px;
}
</style>
